<footer class="footer">
    <div class="container">
        <div class="footer-box">
            <div class="footer-box--left">
                <ul class="footer-list">
                    <li>首頁</li>
                    <li>系列鏡框</li>
                    <li>門市據點</li>
                    <li>部落格</li>
                    <li>常見問題</li>
                </ul>
                <div class="phone">
                    <img src="assets/img/ic_phone_48px.svg" alt="">
                    <p>0800000000</p>
                </div>
                <div class="mail">
                    <img src="assets/img/ic_mail_outline_24px.svg" alt="">
                    <p>glasses@business.com</p>
                </div>
                
            </div>
            <div class="footer-box--right">
                <div class="footer-icon">
                    <ul class="icon-list">
                        <li>
                            <img src="assets/img/ic_social_fb.svg" alt="">
                        </li>
                        <li>
                            <img src="assets/img/ic_social_ig.svg" alt="">
                        </li>
                        <li>
                            <img src="assets/img/ic_social_line.svg" alt="">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="fotter-bottom">
                <img src="assets/img/logo-new_1-1.png" alt="" class="footer-logo">
                <p class="copyight">Copyright © 2020 Glasses.All rights reserved.</p>
                <div class="bottom-text">
                    <p>隱私權政策</p>
                    <p>服務條款</p>
                </div>
            </div>
        </div>
    </div>

</footer>