<section class="call">
    <div class="container">
        <div class="call-title">聯絡我們</div>
        <form>
            <div class="form-title">
                我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
            </div>
            <label for="name">姓名</label>
            <input type="text" name="name" placeholder="陳小明" class="forminput">
            <label for="phone">聯絡電話</label>
            <input type="text" name="phone" placeholder="0912-345-678" class="forminput">
            <label for="mail">電子郵件</label>
            <input type="text" name="mail" placeholder="example@email.com" class="forminput">
            <label for="feedback">意見反應</label>
            <textarea name="feedback" id="" cols="30" rows="5" placeholder="請輸入您的意見" class="forminput"></textarea>
            <label for="agree" class="formcheck">
                <input type="checkbox"> 我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。
            </label>
            <div class="btn">
                <button type="submit" class="submit">確認送出</button>  
            </div>
        </form>
    </div>
</section>