<section class="crossover">
    <div class="container">
        <div class="crossover-title">聯名設計鏡框</div>
        <div class="crossover-row">
            <div class="col-4 crossover-list">
                <img src="assets/img/zac-wolff.png" alt="">
            </div>
            <div class="col-8--right crossover-list">
                <img src="assets/img/61.png" alt="">
                <div class="crossover-row">
                    <div class="crossover-item">
                        <img src="assets/img/24.png" alt="">
                    </div>
                    <div class="crossover-item">
                        <div class="crossover-pic">
                            <img src="assets/img/34.png" alt="">
                        </div>
                        <div class="crossover-more">
                            <img src="assets/img/5.png" alt="">
                        </div>
                        <div class="more-text">
                            <p>MORE</p>
                            <img src="assets/img/ic_arrow_forward_24px.svg" alt="">
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <div class="crossover-row">
            <div class="crossover-mid">
                <img src="assets/img/14.png" alt="">
                <span>Double A+</span>
            </div>
            <div class="crossover-mid">
                <img src="assets/img/39.png" alt="">
                <span>YOUTH</span>
                
            </div>
        </div>
        <!-- 顧客推薦 -->
        <div class="recommed">
            <div class="content">
                <div class="recommed-title">
                    顧客推薦
                </div>
                <ul class="recommed-list">
                    <li class="card">
                        <img src="assets/img/18.png" alt="">
                        <div class="card-content">
                            <h3 class="card-title">Jessy</h3>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                            <p class="card-footer">Last updated 3 mins ago</p>
                        </div>
                    </li>
                    <li class="card">
                        <img src="assets/img/25.png" alt="">
                        <div class="card-content">
                            <h3 class="card-title">Karen</h3>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                            <p class="card-footer">Last updated 3 mins ago</p>
                        </div>
                    </li>
                    <li class="card">
                        <img src="assets/img/36.png" alt="">
                        <div class="card-content">
                            <h3 class="card-title">Chelsea</h3>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                            <p class="card-footer">Last updated 3 mins ago</p>
                        </div>
                    </li>
                    <li class="card">
                        <img src="assets/img/45.png" alt="">
                        <div class="card-content">
                            <h3 class="card-title">Jane</h3>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                            <p class="card-footer">Last updated 3 mins ago</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>
