<div class="classic">
    <div class="container">
        <div class="classic-title">
            經典系列鏡框
        </div>

        <div class="product-box">
            <div class="product-pic">
                <img src="assets/img/8.png" alt="">
            </div>
            <div class="product-text">
                <img src="assets/img/iconfinder_44.svg" alt="">
                <span>optical</span>
            </div>
        </div>
        <div class="product-box row-reverse">
            <div class="product-pic">
                <img src="assets/img/15_2.png" alt="">
            </div>
            <div class="product-text--left">
                <img src="assets/img/Layer_1.svg" alt="">
                <span>sunglasses</span>
            </div>
        </div>
        <div class="product-box">
            <div class="product-pic">
                <img src="assets/img/28.png" alt="">
            </div>
            <div class="product-text">
                <img src="assets/img/Page-1.svg" alt="">
                <span>functional</span>
            </div>
        </div>
    </div>
</div>

